#container {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
.menu-header {
    background-color:#fff;
    height:70px;
}
.menu ul {
}
li {
    display:inline;
    padding-left:20px;
    padding-right:20px;
    padding-top:80px;
    padding-bottom:10px;
    text-decoration:none;
}
a {
    text-decoration:none;
    color:#3498db;
    font-weight:bold;
    font-family:sans-serif;
}
.landing {
    height:100%;
    background-color:#3498db;
    align-content: center;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
}
p {
    font-family:sans-serif;
}
h1 {
    font-size: 50px;
    color:#fff;
}
h3 {
    color:#fff;
    font-size:30px;
    font-family:sans-serif;
}
.logomark {
    margin-top:40px;
    width:300px;
    visibility: hidden;
}
.navmark {
    width:60px;
    margin-left:20px;
    margin-right:50px;
    float:left;
}
